# Functions

```python
def function_name(args):
    # function does something
    return result #optional
```

**When to write a function:** If you have to copy-paste your code three times, create a function.

In [6]:
mylist = [1, 2, 3, 4, 5]

In [7]:
sum(mylist)/len(mylist)

3.0

In [43]:
def get_mean(mylist):
    """This function accepts a list of int or float
    and returns the mean value of that list.
    """
    #assert type(mylist) == list, 'Input must be list.'
    try:
        mean = sum(mylist)/len(mylist)
        return mean
    except TypeError:
        print(mylist, 'is not a list. Try again.')

In [44]:
get_mean(8)

8 is not a list. Try again.

# `lambda` Functions

In Python, anonymous function means that a function is without a name. As we already know that `def` keyword is used to define the normal functions and the `lambda` keyword is used to create anonymous functions. It has the following syntax:

```python
lambda arguments: expression
```

In [45]:
mean = lambda mylist: sum(mylist)/len(mylist)

In [50]:
mean([2,4,6,8])

5.0

In [48]:
mean([1,2,3,4,5])

3.0

In [51]:
# More than one argument

exp = lambda x, y: x**y

In [52]:
exp(2,4)

16

In [69]:
exp = lambda x, y: x**y if x > y else 'invalid'

In [66]:
exp(2,5)

'invalid'

In [67]:
exp(5,2)

25

# Loops

```python
for item in iterable:
    #Action on the item
```

In [76]:
for number in [1,2,3,4,5]:
    print(number)

1
2
3
4
5

In [73]:
# Different kinds of iterables
[1,2,3,4,5] # list
(1,2,3,4,5) # tuple
{1,2,3,4,5} # set
"12345"     # string

{1, 2, 3, 4, 5}